body {
    position: relative;
    background: #222;
    color: #fff;
    height: 100%;
    width: 100%;
  padding: 0px;
  margin: 0px;
}

#cst_video, 
#jonasss,
#omaaaa { height: 100%; width: 100%; }

/* Container */
div.cstPlayer {
    background: grey;
    margin: 0 auto;
    position: relative;
    border: 5px solid #fcfcfc;
}

/* Player */
div.cst_videoplayer {
    height: 100%
    width: height: 100%:
    position: relative;
}

div.cst_videoplayer div.cst_play_toogle {
    position: absolute;
    background: url(images/controllers.png) no-repeat;
    width: 135px; 
    height: 134px;
}

div.cst_controllers_container {
    height: 85px;
    width: 100%;
    position: absolute;
    bottom: 0px; 
    overflow: hidden;
}

div.cst_controllers {
    z-index: 4000;
    background: rgba(0, 0, 0, 0.6);
    height: 45px;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

div.cst_controllers div.cst_play_toogle {
   background: url(images/controllers.png) no-repeat;
   background-position: 0 -153px; width: 38px; height: 37px;
   float: left;
    margin: 4px 10px 0px 10px;
}

div.cst_controllers div.cst_play_toogle.playing {
    background-position:-49px -153px;
}

div.cst_progress_bar {
   height: 7px; 
   background: url(images/time_line_bg.png) repeat-x;
   float: left;
   position: relative;
   margin: 20px 0px 0px;
}

div.cst_playing {
    background: rgba(255,255,255, 0.8);
    width: 0px;
    height: 100%;
    float: left;
}

div.cst_downloading {
    float: left;
    width: 0px;
    background: rgba(198,0,255, 0.2);
    height: 100%;
}

div.cst_indicator {
    float: left;
    font-family: arial, helvetica, sans-serif;
    color: #fff;
    font-size: 15px;
    margin: 15px 0px 0px 10px;
    font-weight: bold;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; filter: alpha(opacity=70); -moz-opacity: 0.7; -khtml-opacity: 0.7; opacity: 0.7;
}

div.cst_progress_bar div.cst_indicator {
    margin: 0px;
    position: absolute;
    bottom: 0px;
    border-left: 2px solid white;
    left: 93px;
    padding: 0px 0px 8px 4px;
    display: none;
}

div.cst_volume {
    float: left;
    height: 30px;
    margin: 18px 10px 0px 10px;
    position: relative;
}

div.cst_volume_toogle {
    background: url(images/controllers.png) no-repeat -97px -164px; width: 16px; height: 15px;
}
div.cst_volume_toogle.muted {
    width: 9px;
}

div.cst_volume_bar {
    height: 50px;
    position: relative;
    display: none;
    width: 2px;
    background: rgba( 255, 255, 255, 0.3);
    margin: -70px 0px 0px 6px;
}

div.cst_volume_itensity_container {
    width: 60px;
    height: 100%;
    margin: 0px 0px 0px -20px;
}


div.cst_volume_bar div.cst_handle {
    height: 10px;
    width: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: white;
    position: absolute;
    left: -4px;
}

div.cst_progress_bar div.cst_handle {
    position: absolute; 
    width: 1px;
    height: 100%;
}   

div.cst_voume_itensity {
    height: 0px;
    background: rgba(255,255,255, 0.8);
    width: 2px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 100%;
}


/* Helpers */
.hover { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter: alpha(opacity=80); -moz-opacity: 0.8; -khtml-opacity: 0.8; opacity: 0.8; }
.hover:hover { opacity: 1 !important; }
.hover:active { position: relative; top: 1px; }
.red { background: red !important; }
